#businessWra{width: 100%; height: 920px; display: flex; justify-content: center; align-items: center;}
.business-section {padding: 150px 0; width: 1510px; height: 680px; display: flex; flex-direction: row; justify-content: space-between; }
.business-img {width: 875px; height: 680px; background-size: cover; background-position: center; background-repeat: no-repeat;}
.business-text {width: 447px; height: 680px; display: flex; flex-direction: column; justify-content: start; align-items: start; padding-left: 30px; margin-top: -10px;}
.business-text h2 { color: red; font-weight: bold; font-size: 24px; text-align: start; position: relative; margin-bottom: 20px;}
.business-text h2::before {content: url(/images/Union.png); position: absolute; left:-30px; top: 0.5px; }
.business-text p:nth-child(2)  {font-weight: bold; font-size: 50px; line-height: 1.2; margin-bottom: 40px;}
.business-text p:nth-child(3) {margin-bottom: 46px;}
.business-text ul {list-style: none; display: flex; flex-direction: column; justify-content: start; align-items: start;}
.business-text ul li {padding-bottom: 40px; font-size: 17px; color: #CBCBCD; cursor: pointer; }
.business-text ul li.active {font-size: 24px; color: #E60012; font-weight: bold;}