#whyWrap {width: 100%; background-image: url(/images/why-bg.png); background-size: 100% 100%; height: 980px; box-sizing: border-box; display: flex; justify-content: center; overflow: hidden; align-items: center;}

.why-section {width: 1510px; min-height: 720px; display: flex; flex-direction: column; justify-content: space-between; align-items: start;}
.why-title {width: 730px; height: 260px;}
.why-section .why-title h2 { color: red; font-weight: bold; font-size: 24px; text-align: start; position: relative; margin-bottom: 20px;}
.why-section .why-title h2::before {content: url(/images/Union.png); position: absolute; left:-30px; top: 0.5px; transform: rotate(180deg); }
.why-section .why-title >p {font-weight: bold; font-size: 42px; line-height: 1.4; margin-bottom: 40px; color: #fff;}

.why-section .why-content {width: 100%; display: flex; flex-direction: row; justify-content: end; align-items: center; }
.why-section ul { width: 1244px; list-style: none; display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.why-section ul li {width: 296px; height: 400px; background-color: #fff; display: flex; flex-direction: column;justify-content: space-between; align-items: start; }
.why-section ul li p {padding:0 36px; }
.why-section ul li p:nth-child(1) {padding-top: 25px; font-weight: bold; font-size: 65px; color: red;}
.why-section ul li p:nth-child(2) {margin-top: -20px; font-weight: bold; font-size: 24px; color: #000;}
.why-section ul li p:nth-child(3) {margin-top: -20px; font-weight: 400; padding-bottom: 10px; font-size: 15px; color: #666;}
.why-section ul li > div {width: 100%;  display: flex; justify-content: end; align-items: center;}
.why-section ul li > div img {padding: 10px 10px;}

.learn-more-btn {margin-bottom: 210px; cursor: pointer; position: relative; font-size: 18px; color: #fff;  padding:12px 30px; background: red; border: none; border-radius: 1000px;}














