#footerWrap {width: 100%; height: 305px; background-color: black; display: flex;  justify-content: center; align-items: center;}

.footer-section {color: #fff; width: 1560px; height: 230px; display: flex; flex-direction: row; justify-content: space-between; align-items: start;}
.footer-section h2 {cursor: pointer; font-size: 0; width: 187px; height: 26px;background-image: url(/images/logo-footer.png);  background-size: 100% auto; }


.footer-section .footer-content {width: 1300px; height: 230px;}
.footer-section .footer-content ul {list-style: none; display: flex;  align-items: start; margin-bottom: 40px;}
.footer-section .footer-content .footer-list {color: #CBCBCD;  width: 600px; display: flex; flex-direction: row; justify-content: start; align-items: center;}
.footer-section .footer-content .footer-list li {padding:0 20px;font-weight: bold; cursor: pointer; font-size: 16px; line-height: 1; border-right: 1px solid #ccccccba; }
.footer-section .footer-content .footer-list li:nth-child(1) {margin-left: -20px;}

.footer-section .footer-content .footer-info {width: 1300px; height: 110px; font-size: 14px; display: flex; flex-direction: row; justify-content: space-between; text-align: center;  }
.footer-section .footer-content .footer-info span {cursor: pointer; padding-right: 10px; font-size: 14px; font-weight: bold; color: #fff; }
.footer-section .footer-content .footer-info .footer-address {width: 520px; height: 50px; display: flex; flex-wrap: wrap;}
.footer-section .footer-content .footer-info .footer-address li {padding-right:20px ;}

.footer-section .footer-content .footer-info .footer-social {width: 178px; height: 34px; display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.footer-section .footer-content .footer-info .footer-social li {cursor: pointer; width: 34px; height: 34px; font-size: 0; background-size: 100% auto;}
.footer-section .footer-content .footer-info .footer-social li:nth-child(1) {background-image: url(/images/facebook.png); }
.footer-section .footer-content .footer-info .footer-social li:nth-child(2) {background-image: url(/images/youtube.png); }
.footer-section .footer-content .footer-info .footer-social li:nth-child(3) {background-image: url(/images/linkedin.png); }
.footer-section .footer-content .footer-info .footer-social li:nth-child(4) {background-image: url(/images/instagram.png); }
.footer-section .footer-content .footer-info .footer-social a {display: block; width: 100%; height: 100%;}

.footer-section .footer-content .footer-bottom {width: 100%; height: 50px; color:#cbcbcd; border-top: 1px solid #cbcbcdae;}
.footer-section .footer-content .footer-bottom p {font-size: 14px; padding-top: 20px;}









