#footerWrap {width: 100%; height: 305px; background-color: black; display: flex;  justify-content: center; align-items: center;}

.footer-section {color: #fff; width: 1560px; height: 230px; display: flex; flex-direction: row; justify-content: space-between; align-items: start;}
.footer-section .footer-content {width: 1300px; height: 230px;}
.footer-section .footer-content ul {list-style: none; display: flex;  align-items: start; margin-bottom: 40px;}
.footer-section .footer-content .footer-list {color: #CBCBCD;  width: 600px; display: flex; flex-direction: row; justify-content: start; align-items: center;}
.footer-section .footer-content .footer-list li {padding:0 20px;font-weight: bold; cursor: pointer; font-size: 16px; line-height: 1; border-right: 1px solid #fff; }
.footer-section .footer-content .footer-list li:nth-child(1) {margin-left: -20px;}













