#headerWrap { width: 100%; height: 100px; display: flex;}
header {width: 1720px; display: flex; flex-direction:row; justify-content: space-between; align-items: center; padding: 0 100px; padding-top: 10px;}
h1 { width: 235px; height: 32px; background-image: url(/public/images/logo.png);background-size: 100% auto; font-size: 0;}
nav {width: 480px;}
ul {list-style:none; display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
li {font-size: 18px;}