#headerWrap { width: 100%; height: 100px; display: flex;}
header {width: 1720px; display: flex; flex-direction:row; justify-content: space-between; align-items: center; padding: 0 100px; padding-top: 10px;}
header h1 {cursor: pointer; width: 235px; height: 32px; background-image: url(/public/images/logo.png);background-size: 100% auto; font-size: 0;}
header nav {width: 480px;}
header ul {list-style:none; display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
header li {font-size: 18px; cursor: pointer;}
header a {text-decoration: none; color: inherit;}
header a:hover {color: inherit; font-weight: bold;}